<a href="https://colab.research.google.com/github/lanyu0322/phd_semester1/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
 #LEHD data for NYC.  And make a choropleth of the number of workers to residents.

In [4]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
!pip install geopandas

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/21/80/da2a33c9201cd4ce693f4aa6189efc9ef1a48bec1c3b02c3ce9908b07fec/geopandas-0.5.1-py2.py3-none-any.whl (893kB)
     |████████████████████████████████| 901kB 2.8MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from geopandas) (0.24.2)
Collecting pyproj (from geopandas)
  Downloading https://files.pythonhosted.org/packages/20/37/86f8a661cf252ff16a1a11b2c2a452e0d19aebf8934cc70e9a95d2d038be/pyproj-2.3.1-cp36-cp36m-manylinux1_x86_64.whl (9.8MB)
     |████████████████████████████████| 9.8MB 42.5MB/s
Collecting fiona (from geopandas)
  Downloading https://files.pythonhosted.org/packages/89/4a/193cd6a75e51062c85f4e1cd6f312b3bbda6e26ba7510f152ef5016f0b16/Fiona-1.8.6-cp36-cp36m-manylinux1_x86_64.whl (17.9MB)
     |████████████████████████████████| 17.9MB 27.3MB/s
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.6.4.post2)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas->geopandas) (2.5.3)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from pandas->geopandas) (1.16.5)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->geopandas) (2018.9)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.12.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (19.1.0)
Collecting munch (from fiona->geopandas)
  Downloading https://files.pythonhosted.org/packages/68/f4/260ec98ea840757a0da09e0ed8135333d59b8dfebe9752a365b04857660a/munch-2.3.2.tar.gz
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.0)
Collecting cligj>=0.5 (from fiona->geopandas)
  Downloading https://files.pythonhosted.org/packages/e4/be/30a58b4b0733850280d01f8bd132591b4668ed5c7046761098d665ac2174/cligj-0.5.0-py3-none-any.whl
Collecting click-plugins>=1.0 (from fiona->geopandas)
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Building wheels for collected packages: munch
  Building wheel for munch (setup.py) ... done
  Created wheel for munch: filename=munch-2.3.2-py2.py3-none-any.whl size=6614 sha256=6df39a58ac530be2ae811888c365f5b35ed0ef7f6611b4a7cf607d2b60818a48
  Stored in directory: /root/.cache/pip/wheels/db/bf/bc/06a3e1bfe0ab27d2e720ceb3cff3159398d92644c0cec2c125
Successfully built munch
Installing collected packages: pyproj, munch, cligj, click-plugins, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.5.0 fiona-1.8.6 geopandas-0.5.1 munch-2.3.2 pyproj-2.3.1

In [0]:
import geopandas as gp
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gp
import pyproj as proj
import pandas as pd

In [0]:
wname = "drive/My Drive/lwir/data/nyc_ratio/ny_wac_S000_JT00_2017.csv"
rname = "drive/My Drive/lwir/data/nyc_ratio/ny_rac_S000_JT00_2017.csv"
tname = "drive/My Drive/lwir/data/nyc_ratio/ny_od_main_JT00_2017.csv"

In [0]:
#use the OD data, group by census block, and then sum and see if those numbers match the RAC and WAC

In [0]:
wdata = pd.read_csv(wname)
wdata.head()

         w_geocode  C000  CA01  CA02  ...  CFS03  CFS04  CFS05  createdate
0  360010001001004     5     1     3  ...      0      0      0    20190825
1  360010001001005    57    11    39  ...      0      0      0    20190825
2  360010001001006    43     5    27  ...      0      0      0    20190825
3  360010001001008   104    28    53  ...      0      0      0    20190825
4  360010001001010     3     1     2  ...      0      0      0    20190825

[5 rows x 53 columns]

In [0]:
len(wdata)

107774

In [0]:
wtotal = wdata['C000'].sum()
print(wtotal)

9215263

In [0]:
rdata = pd.read_csv(rname)
rdata.head()

         h_geocode  C000  CA01  CA02  CA03  ...  CD03  CD04  CS01  CS02  createdate
0  360010001001008    19     5    11     3  ...     4     5    14     5    20190825
1  360010001001009    13     5     7     1  ...     4     2     4     9    20190825
2  360010001001010    17     3    10     4  ...     3     5     5    12    20190825
3  360010001001011    55    14    24    17  ...    13    11    26    29    20190825
4  360010001001012    39     9    20    10  ...    10     6    18    21    20190825

[5 rows x 43 columns]

In [0]:
len(rdata)

231315

In [0]:
# Creating the map:
# # 1. merge wdata and rdata on the "geocode" columns (with suffixes "_w" and "_h") and fill NaNs with zeros (fillna is the method)
wdata = pd.read_csv(wname)
rdata = pd.read_csv(rname)
#display(wdata.head(), rdata.head())
merged = pd.merge(wdata[["w_geocode", 'C000']], rdata[["h_geocode",'C000']],
                 left_on="w_geocode", suffixes=["_w", "_h"], right_on="h_geocode", how='outer')

merged[['C000_w', 'C000_h']] = merged[['C000_w','C000_h']].fillna(value=0) 
#print(merged)

merged_jobs = pd.merge(merged.w_geocode, merged.h_geocode, left_on="w_geocode", suffixes=["_w", "_h"], right_on="h_geocode", how='outer')
# 2. sum the C000_w and C000_h columns and add the result to the output of 1.


# 3. get the census blocks shapefile for NY state (either census data website or bytes of the big apple website)
# 4. sub-sample to only Manhattan
# 5. merge the output of 2. into the geodataframe of 4.
# 6. plot the map of 2. (edited)